.h-75 {
    height: 90vh;
}
.w-90{
 width:90%;
}
.active{
    background-color: white;
    color: #3490DC;
    border: 1px solid #3490DC;
}
.more-btn{
    margin-bottom: 10px;
}

.card{
    width: 30%;
    margin: 2% 1%;
    height: 375px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-img{
    /* height:200px; */
    overflow:hidden;
    margin: 0 auto;
}
.text-overflow{
    text-overflow: ellipsis;
}
.header-font{
  font-family: "Yantramanav";
  font-size: 190px;
  color:white;
}
.sub-header{
    font-family: "Yantramanav";
    font-size: 40px;
    color:white;
}
.bio-square{
    height: 480px;
}
.header{
    background: url('./components/imgs/bg-left.png');
    background-size: contain;
    background-repeat: repeat;
    
}
.card-container{
    position: relative;
    height: 350px;
    width: 100%;
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.card:hover{
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1;
}

.card.isFlipped{
    transform: rotateY(180deg)
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
/* Projects */
.project-container{
  height: 650px;
}
.project-img-container{
  height: 450px;
}
.project-cubes{
    height: 200px;
}
.see-more{
    height: 200px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.see-more button{
    width: 65%;
}

.project-description{
    justify-content: space-evenly;
    height: 450px;

}
.project-description p{
    line-height: 3rem;
    padding: 0 30px;
}