.h-75 {
    height: 90vh;
}
.active{
    background-color: white;
    color: #3490DC;
    border: 1px solid #3490DC;
}
.more-btn{
    margin-bottom: 10px;
}

.card{
    width: 30%;
    margin: 2% 1%;
    height: 375px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-img{
    /* height:200px; */
    overflow:hidden;
    margin: 0 auto;
}
.text-overflow{
    text-overflow: ellipsis;
}